.component-button {
  background-color: #e0e0e0; /* Light gray background for buttons */
  border: 1px solid #ccc; /* Add a subtle border */
  font-size: 1.5rem;
  margin: 5px; /* Add some margin for spacing */
  padding: 10px 20px; /* Add padding for better button size */
  cursor: pointer; /* Indicate that the button is clickable */
  flex: 1 0 auto;
  transition: background-color 0.2s ease; /* Add a smooth transition for hover effect */
  color: black; /*default text color*/
}

.component-button:hover {
  background-color: #d0d0d0; /* Slightly darker gray on hover */
}

.component-button.wide {
  width: 50%;
}

.component-button.orange {
  background-color: #f5923e;
  color: white;
}

.component-button.orange:hover {
  background-color: #e5823e; /* Slightly darker orange on hover */
}

.component-button.backspace {
  background-color: #ccc; /* Light gray background for backspace button */
  color: black; /* Dark text for backspace button */
}

.component-button.backspace:hover {
  background-color: #bbb; /* Slightly darker gray on hover for backspace button */
}

.button-row { /* Added class for better styling of button rows */
  display: flex;
  width: 100%;
}

/* Dark mode styles */
.component-app.dark-mode .component-button {
  background-color: #444; /* Dark background for buttons in dark mode */
  color: white; /* White text for buttons in dark mode */
  border-color: #555; /* Darker border in dark mode */
}

.component-app.dark-mode .component-button.orange {
  background-color: #f5923e; /* Keep orange buttons orange in dark mode */
  color: white; /* White text for orange buttons in dark mode */
}

.component-app.dark-mode .component-button:hover {
  background-color: #555; /* Slightly darker gray on hover in dark mode */
}

.component-app.dark-mode .component-button.orange:hover {
  background-color: #e5823e; /* Slightly darker orange on hover in dark mode */
}

.component-app.dark-mode .component-button.backspace {
  background-color: #555; /* Dark gray background for backspace button in dark mode */
  color: white; /* Light text for backspace button in dark mode */
}

.component-app.dark-mode .component-button.backspace:hover {
  background-color: #666; /* Slightly darker gray on hover for backspace button in dark mode */
}
